streamlit==1.44.1
streamlit-lottie==0.0.5
firebase-admin==6.7.0
Pyrebase4==4.8.0
pandas==2.2.3
scikit-learn==1.5.2
seaborn==0.13.2
matplotlib==3.9.2
numpy==2.0.2
altair==5.4.1
requests==2.32.3
